<nav class="navbar navbar-expand-lg navbar-dark stef-navbar sticky-top">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="home.html">
                    <div class="brand-mark">S</div>
                    <span class="ms-2">StefGym</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav ms-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tasks.html">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light rounded-pill ms-lg-3" href="report.html">Report</a>
                        </li>
                        <li class="nav-item">
                            <button id="themeToggle" class="btn btn-outline-light rounded-pill ms-lg-3">
                                Light Mode
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>